body{
  /*background-color: #F5F6A8;*/
  margin: auto;
}

table {
  font-family: 'Arial';
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 4px solid #ffee58;
}

table tr:hover {
  background: #fff9c4;
}

table tr:hover td {
  color: #555;
}

table th, table td {
  color: #757575;
  padding: 12px 25px;
  border-collapse: collapse;
}

table th {
  background: #ffee58;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
}

table th:last-child {
  border-right: none;
}

table th:last-child, table td:last-child {
  padding: 12px 0px;
  padding-right: 5px;
}

/*** PROGRESS BAR ***/
progress[value]{
  background-color: #C0C0C0;
  border-radius:100px;

  transform: rotateY(180deg);
}

progress[value]::-webkit-progress-bar {
    background-image:
     -webkit-linear-gradient(-45deg, 
                             transparent 33%, rgba(0, 0, 0, .1) 33%, 
                             rgba(0,0, 0, .1) 66%, transparent 66%),
     -webkit-linear-gradient(top, 
                             rgba(255, 255, 255, .25), 
                             rgba(0, 0, 0, .25)),
     -webkit-linear-gradient(left, #4caf50, rgb(255, 255, 0), #f44336);
    background-size: 35px 20px, 100% 100%, 100% 100%;

    border-radius: 100px;
}

progress[value]::-webkit-progress-value{
  background-color: whiteSmoke;
  
  border-top-left-radius: 100px; 
  border-bottom-left-radius: 100px; 

  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

/*** ADD CARD ***/

form#addCard{
  display: inline-flex;
  width: 100%;
}

input#addCard{
  margin: 5px;
  width: 100%;
}

button#addCard {
  font-family: Arial;
  font-size: 20px;
  color: #000000;

  background: #ffee58;
  border-radius: 50%;
  border: solid #9EAC83 0px;
  
  display: table-column;
  margin: 5px;
  padding: 4px 9px 4px 9px;
}

button#addCard:hover {
  background: #fdd835;
}

/*** REMOVE CARD ***/
button.removeButton{
  background: transparent;
  border: none;
  font-weight: bold;
  color: #e53935;
  padding: 4px 9px 4px 9px;
}

button.removeButton:hover{
  background: #f44336;
  border: none;
  color: #000;
  border-radius: 50%;
}